<html>
<head>
	<div align="center">
	<div style="background-color:#C0C0C0;width:30%;align:center;margin:110px;padding: 10px;border-radius: 10px;">
	<body align="justify"><br>
		<h2 style="color: #4169E1;">User Login</h2><br>
		<form action="{% url 'rest_login' %}" method="post" align="center">
          <lable>Username :</lable> 
          <input type="text" name="username" placeholder="Enter Username"><br><br>
          <lable>Email :</lable> 
          &emsp;&emsp;<input type="email" name="email" placeholder="Enter Email"><br><br>
          <label>password:</label>
          <input type="password" name="password" placeholder="Enter Password"><br><br>
          <input type="submit" name="submit"><br>
          <br><lable>you don't have account registered ?</lable>&emsp;<a href="http://127.0.0.1:8000/emailsignup/">here</a>
		</form>
	</body>
</div>
</div>
</head>
</html>